
/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 1em;
}

/* Add a background color and some padding around the whole page */
body {
  background-color: #121212;  
  color: #FF001C;
  font-family: 'Courier New', monospace;  
}

/* Add some typographic styles */
h1, h2, h3 {
  font-weight: lighter;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

/* Style the NFT grid */
#nft-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 50px;
}

/* Individual NFT styles */
.nft {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width:max-content;
  border: 2px solid #FF001C;  
  border-radius: 5px;
  cursor: pointer;
}

.nft img {
  object-fit: contain;
  object-position: center;
  height: 50vh;
  width: 100%;
  border-bottom: #fa0000 2px solid; 

}

.nft h2 {
  margin-top: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: x-large;  
  padding: 1em;
}

/* Responsiveness */
@media (max-width: 768px) {
  body {
    padding: 10px;
  }
  #nft-grid {
    flex-direction: column;
    align-items: center;
  }
  .nft {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #252525;
  color: white;
  text-align: center;
  padding: 5px;
}

/* Footer content centered */
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Add some padding to footer links */
.footer-links {
  margin-left: 20px;
}

/* Footer Icons */
.footer-icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.footer-icon:hover {
  opacity: 0.7;
}

.icon { display: flex;

}#title-container {
  display: flex;
  align-items: center;
}

#nfp-logo {
  width: 70px;
  height: 70px;
  margin-left: 10vw;
}

#gallery-title {
 color: red;
}
